@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #6495ed;
  height: 10vh;
  box-sizing: border-box;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 0 10px;
}

.nav-left > h3 {
  padding-right: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}

.nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.nav-element > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2ch;
  background-color: #6495ed;
}

.text-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container-perfil {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid #dadce0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  padding: 30px 35px;
  border-radius: 20px;
  /* box-shadow: 0px 10px 40px #00000056; */
}

.card > h1 {
  color: #6495ed;
  font-weight: 800;
  margin: 0px 5px;
}

a {
  text-decoration: none;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textfield > label {
  color: #6495ed;
  margin-bottom: 10px;
}

.textfield > input {
  width: 100%;
  border: 1px solid #dadce0;
  border-width: 0.5 px;
  padding: 5px;
  font-size: 12pt;
  /* box-shadow: 0px 10px 20px #00000056; */
  outline: none;
  box-sizing: border-box;
  color: gray;
}

.btnlogin {
  width: 100%;
  padding: 16px 0px;
  margin-top: 25px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #6495ed;
  color: aliceblue;
  border: none;
  cursor: pointer;
  outline: none;
}

.perfilcard {
  display: flex;
  height: 50%;
  width: 60%;
  border: 1px solid #dadce0;
  padding: 10px;
}

.perfil-txt {
  margin-left: 20px;
}

.perfil-img {
  width: 150;
  height: 150px;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th {
  background-color: #04aa6d;
  color: white;
}
